
.wrapper{
    scroll-snap-type: y proximity;
    stroke-linecap: butt;
    overflow: scroll;
    height: 100vh;
    transition: opacity 800ms ease,

}

.social-icons{
    display: flex;
}

.social-icons .social-icon{
    background-color: #671da0;
    border-radius: 0.5rem;
    height: 5vh;
    padding: 0.5vh;
    margin: 2rem 0.5rem;
    transform: translate(0rem, 0%);
    transition: 500ms;
}

.social-icon:hover{
    transform: translate(0rem, -20%);
    opacity: 0.5;
}

#outro h1 {
    align-self: flex-end;
    font-size: 3rem;
}

.contacts {
   display: flex;
}

.outro-screen{
    padding: 5rem;
    height: 25vh;
    background-color: #671da0;
    display: block;
}

.contact {
   padding: 1.5rem;
   background-color: #131219;
   margin: 1rem;
   border-radius: 50px;
   width: 50%;
}

.contacts img {
   border-radius: 0.5rem;
   height: 3rem;
   transform: translate(0rem, 0%);
   transition: 800ms;
}

.contacts img:hover {
   transform: translate(0rem, -5%);
}

#outro a {
   color: white;
   text-decoration: none;
}

.text-contact {
  transition: 400ms;
  cursor: pointer;
  margin-top: 3rem;
  margin-left: 1rem;
  font-size: larger;
  vertical-align: 1rem;
}

.text-contact:hover {
   opacity: 0.7;
}

.fatec {
   scroll-snap-align: start;
   height: 70vh;
   object-fit: cover;
   object-position: 0%;
   width: 100%;
}

.fatec-a {
   height: 1.5rem;
   color: white;
   font-size: x-large;
   text-decoration: none;
   background-color: #671da0;
   padding: 1rem 4rem;
   border-radius: 10px;
   transition: 500ms;
   margin-left: 5vh;
}

.fatec-a:hover {
    opacity: 0.7;
 }

.about-fatec{
   scroll-snap-align: start;
   height: 75vh;
   padding: 3rem;
   display: block;
 }

.text-fatec{
   font-size: larger;
 }

.text-fatec h1{
   color: #671da0;
}

.text-fatec a{
   text-decoration: none;
   color: #671da0;
 }

iframe{
    text-align: center;
    height: 50vh;
    width: 95%;
    margin: 1.5rem;
    border-radius: 10px;
 }