
#parallax-background-pattern {
    height: 90vh;
    width: 100vw;

    background-image: radial-gradient(
        rgba(30, 30, 30, 0.5) 9%,
        transparent 9%
    );

    background-position: 0% 0%;
    background-size: 3rem 3rem;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;

    transition: opacity 800ms ease,
        background-size 800ms ease;
}

.parallax-wrapper {
    height: 90vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    stroke-linecap: butt;
    perspective: 300px;
}

.intro-screen {
    background-color: #131219;
    scroll-snap-align: start;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

.outro-screen{
    padding: 5rem;
    scroll-snap-align: start;
    height: 20vh;
    background-color: #671da0;
    display: block;
}

.parallax-group{
    scroll-snap-align: start;
    position: relative;
    transform-style: preserve-3d;
}

.parallax-layer{
    position: absolute;
    inset: 0;
    padding: 5rem;
}

.base-layer{
    /* 1 - ((Z transform value * -1) /perspective */
    transform: translateZ(-300px) scale(2.1);
}

.mid-layer{
    /* 1 - ((Z transform value * -1) /perspective */
    transform: translateZ(0);
}

.top-layer{
    /* 1 - ((Z transform value * -1) /perspective */
    transform: translateZ(100px) scale(0.67);
}

#intro {
 z-index: 0;
}

.intro-screen img{
    border-radius: 0.5rem;
    height: 50vh;
    margin-left: 3rem;
    transform: translate(0rem, 0%);
    transition: 800ms;
}

.intro-screen img:hover{
    transform: translate(0rem, -5%);
}

#group-1 {
    height: 90vh;
    z-index: -1;
}

#group-1 > .base-layer{
    background-color: #671da0;
    justify-content: flex-start;
}

#group-2 {
    height: 90vh;
}

#group-2 > .top-layer{
    display: flex;
    justify-content: end;
}

#group-2 > .mid-layer {
    display: flex;
    justify-content: start;
    background-color: #131219;
}

label h1{
    color: #671da0;
}

.informations{
    margin-left: 3rem;
}

.social-icons{
    display: flex;
}

.social-icons .social-icon{
    background-color: #671da0;
    border-radius: 0.5rem;
    height: 5vh;
    padding: 0.5vh;
    margin: 2rem 0.5rem;
    transform: translate(0rem, 0%);
    transition: 500ms;
}

.social-icon:hover{
    transform: translate(0rem, -20%);
    opacity: 0.5;
}

.work-item{
    background-color: #131219;
    height: 50vh;
    width: 20vw;
    margin: 1rem;
    border-radius: 0.5rem;
}

.work-item img{
    border-radius: 0.5rem;
    width: 20vw;
}

.language {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.language img{
    width: 15vw;
}

.text-card{
    border-radius: 10px;
    text-align: start;
    padding: 3rem;
}

#group-1 .text-card{
    font-size: large;
    background-color: #131219;
    width: 30vw;
}

#group-2 .text-card{
    font-size: x-large;
    margin-top: 3rem;
    width: 100%;
    background-color: #671da0;
}

#group-2 .text-card a{
    color: white;
}

#outro h1 {
     font-size: 3rem;
}

.contacts {
    display: flex;
}

.contact {
    padding: 1rem;
    background-color: #131219;
    margin: 1rem;
    border-radius: 50px;
    width: 50%;
}

.contacts img {
    border-radius: 0.5rem;
    height: 3rem;
    transform: translate(0rem, 0%);
    transition: 800ms;
}

.contacts img:hover {
    transform: translate(0rem, -5%);
}

#outro a {
    color: white;
    text-decoration: none;
}

.text-contact {
   margin-top: 3rem;
   margin-left: 1rem;
   font-size: larger;
   vertical-align: 1rem;
}