@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@keyframes transitionIn {
    from{
        opacity: 0;
        transform: perspective(-100deg);
    }
    to{
        opacity: 1;
        transform: perspective(0);

    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    animation: transitionIn 2s;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 4em;
}