header {
    position: relative;
    z-index: 2;
}

#menu {
    margin-top: 3rem;
    text-align: start;
    height:85vh;
}

.menu-item {
    margin-left: 3rem;
    color: white;
    font-size: 3rem;
    display: block;
    text-decoration: none;
    transition: opacity 400ms ease;
}

#menu-items {
    position: relative;
    z-index: 2;
}

#menu-items:hover > .menu-item{
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover{
    opacity: 1;
    color: #8625d2;
}

#menu-background-pattern {
    height: 100vh;
    width: 100vw;

    background-image: radial-gradient(
        rgba(157, 42, 247, 0.3) 9%,
        transparent 9%
    );

    background-position: 0% 0%;
    background-size: 5rem 5rem;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;

    transition: opacity 800ms ease,
        background-size 800ms ease;
}

#menu-items:hover ~ #menu-background-pattern {
    background-size: 4rem 4rem;
    opacity: 0.5;
}

a{
    font-weight: 200;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover{
    color: #8625d2;
}
